.search-filter-container {
    display: flex;
    gap: 0.7em;
    align-items: center;
}

.search-filter-container .mat-form-field {
    height: 4em;
    width: 25vw;
    background: #EEEFF3;
}

h5 {
    padding: 1.2em;
    margin: 0 !important;
}

.selection-list {
    padding: 0 1em;
}