.activity {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 15px;
}
.activity-label {
  background-color: rgba(150, 170, 189, 0.2);
  height: 6vh;
}
.activity-label-text {
  color: #212529;
}
