.nav-button {
  background: none;
  color: #496684;
  border: none;
}

.nav-button:focus {
  color: var(--kcredit-primary);
  border-bottom: 2px solid var(--kcredit-app-secondary);
  outline: none;
}

.nav-section-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.section-nav li {
  padding-bottom: 10px;
}

.menu-button {
  color: #496684;
  font-family: "Lexend Deca", Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.173px;
}

.more-menu {
  border-radius: 8px;
  border: 1px solid #e9eaf3;
  background: #f5f6fc;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.05);
  width: 306px;
  height: 601px;
}

.more-button {
  display: flex;
  align-items: center;
  color: var(--kcredit-primary);
}

.navbar-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  gap: 1rem;
}
.business-review-container {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  gap: 1rem;
}

.business-review-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30%);
}

.business-review-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.business-review-avatar {
  border-radius: 50%;
  background-color: #c4e9ea;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.review-action-container {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0;
}
.approve-btn {
  background-color: var(--kcredit-dark-success-green);
}

.sticky {
  background: white;
  color: black;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 2px;
  height: 60px;
  width: 90%;
  z-index: 1;
}
