.user-details-container {
    display: flex;
    background: #F9F9F9;
    border-radius: 5px;
    padding: 1.5em 1em; 
    flex-flow: row wrap;
}

.field-container {
    display: flex;
    flex-basis: 30%;
    padding: 0.5em;
    gap: 0.5em;
}

.detail-field {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4em;
}

img {
    height: 1.7em;
}

.field-label {
    color: var(--kcredit-text-medium);
    font-size: 0.9em;
}

.detail {
    color: var(--kcredit-text-dark);
    font-size: 1em;
}