<div class="form-field-container" [formGroup]="passwordFormGroup">
    <mat-form-field class="form-field">
        <mat-label>Assign Password</mat-label>
        <input matInput placeholder="Enter password" [type]="hidePassword ? 'password' : 'text'"
            formControlName="changePassword">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormGroup?.get('changePassword')?.hasError('passwordMismatch')">Password doesn’t
            match</mat-error>
        <mat-error *ngIf="passwordFormGroup?.get('changePassword')?.hasError('required')">Please enter a
            password</mat-error>
        <mat-error *ngIf="passwordFormGroup?.get('changePassword')?.hasError('passwordError')">{{
            passwordFormGroup?.get('changePassword')?.getError('passwordError') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Confirm password</mat-label>
        <input placeholder="Confirm password" matInput [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormGroup?.get('confirmPassword')?.hasError('passwordMismatch')">Password doesn’t
            match</mat-error>
        <mat-error *ngIf="passwordFormGroup?.get('confirmPassword')?.hasError('required')">Please enter a
            password</mat-error>
    </mat-form-field>
</div>