.avatar {
    border-radius: 50%;
    background-color: var(--kcredit-avatar-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
  }
  