

/* Angular Material - Expansion panel Overrides */

.mat-expansion-panel {
  box-shadow: none; /* remove the default box-shadow from all sides */
}

.mat-expansion-panel-header {
  padding: 0px 10px 0px 0px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); /* add a box-shadow to the bottom of the header */
}

.mat-expansion-panel-body {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); /* add a box-shadow to the bottom of the body */
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: none;
}


.no-dedupe {
  display: flex;
  height: 23vh;
  justify-content: center;
  align-items: center;
}

.no-dedupe>div {
  display: flex;
  flex-flow: column wrap;
}