.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-item {
    flex: 1;
    min-width: 200px;
  }
  
  .remarks-field {
    flex: 1;
  }
  
  .custom-mat-form-field {
    width: 100%;
  }
  
  .asterix {
    font-weight: bold;
  }
  