table {
  width: 50% !important;
}
.no-display-header {
  background-color: var(--kcredit-primary-white) !important;
  border: none;
  border-color: var(--kcredit-primary-white) !important;
}
.row-header {
  background-color: darkgrey !important;
  color: var(--kcredit-primary-color1);
}
