:host{
	width: 100%;
}

.setNewPassword-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 1vh;
}


.or-span{
	font-size: 1.3em;
	margin-top: 3vh;
}


.setNewPassword-link{
	color: var(--kcredit-primary);
	font-size: 1.4em;
	padding-top: 2vh;
	cursor: pointer;
	background: none;
	border: none;
}


.setNewPassword-passwordMismatch{
	color: var(--kcredit-error-color);
	font-size: 1.2em;
	padding-left: .3vw;
}

.form-error-container{
	padding-left: 3vw;
	padding-top: 2vh;
	padding-bottom: 1vh;
}

