.summary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary-item-text {
  font-family: HK Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.17307710647583008px;
  text-align: left;
}
