.document-subtype-container {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}
.document-action-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}
.fill-image {
  height: 100%;
  width: 100%;
}
.document-container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  max-width: 27vw;
}
.item {
  flex-basis: calc(35% - 15px);
  margin: 10px;
  height: auto;
  width: 100%;
}
.image-container {
  height: 35vh;
}

.reject-reason-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.doc-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between !important;
  width: 100%;
}
.align-start {
  justify-content: flex-start;
}
.pdf-container {
  float: right;
}

.item-container {
  display: flex;
  align-items: flex-start;
  gap: 5vw;
}
.document-item-container {
  width: 35vw;
}

