.table-container {
    width: 90vw;
}

.table-span {
    font-family: Lexend Deca, sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #38526C;
    padding: 2rem;
}

.table-heading {
    font-family: Lexend Deca, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
}

.table-span-overall {
    text-align: center;
}