.error-container {
    padding-left: 1rem;
}

.error-section-title {
    font-family: Lexend Deca, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.errors {
    padding: 1.5rem 1rem 0.5rem 1rem;
    width: 80%;
    background: #F5F6FC;
    margin-top: 1rem;
    border-radius: 4px;
}

.errors-header {
    color: #38526C;
    font-family: Lexend Deca, sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.sub-error-header {
    color: #38526C;
    font-family: Lexend Deca, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.sub-error {
    color: #38526C;
    font-family: Lexend Deca, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

li {
    font-family: Lexend Deca, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0;
    color: #38526C;
}