.ki-score-button-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.ki-score-container {
    display: flex;
    align-items: center;
    gap: 4vw;
    padding-top: 5vh;
}

.eligibilityRule {
    padding: 5px 0;
}