.section-sub-heading {
    color: #212529;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.173px;
}

.buttons-container {
    display: flex;
}