::ng-deep .custom-overlay .mat-dialog-container {
    padding: 0 !important;
}

.bre-progress.mat-progress-bar {
    height: 2rem;
}

.recalculate-container {
    display: flex;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.rules-icon-container {
    height: 9vh;
    flex-basis: 15%;
    align-self: flex-start;
}

.popup-description-container {
    flex-basis: 75%;
    align-self: flex-start;
    text-align: left;

    h1 {
        font-size: 1.6rem;
        padding-bottom: 0.5rem;
        color: #38526C;
    }

    span {
        color: #38526C;
        font-size: 1.1rem;
        width: 90%;
        display: inline-block;
    }

}

.popup-hide-button {
    background: none;
    border: none;
    color: #FF7B52 !important;
    font-size: 1.2rem;
}

.rules-icon {
    background: #E0F3FE;
    width: 80%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
