.container {
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.sub-heading-container {
    width: 100%;
}

.edit-button-container {
    display: flex;
    gap: 1.5em;
}
.ifsc-search-btn{
    margin-top: 1rem;
}