:host {
	width: 100%;
}

.resetPassword-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 4vh;
}

.resetPassword-resend {
	font-size: 1.5em;

}

.resend-button {
	background: none;
	border: none;
	color: var(--kcredit-primary);
	font-size: 1.2em;
	text-decoration: underline;
}