p {
  font-family: "HK Grotesk",sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.17307710647583008px;
  text-align: center;
}
.dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #38526C;
  border-bottom: 1px solid var(--kcredit-secondary-background);
}
.closeicon {
  float: right;
}
.dialog-content-text {
  text-align: center;
}
.dialog-content-text img {
  font-size: 65px;
  height: 65px;
  width: 65px;
  margin-bottom: 10px;
}
.cancel {
  background-color: var(--kcredit-app-secondary);
  color: var(--kcredit-primary-white);
}
.proceed {
  background-color: var(--kcredit-primary);
  color: var(--kcredit-primary-white)
}
.column-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-radio-button {
  margin-bottom: 10px;
  margin-left: 5px;
}
.action-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}