.custom-form-field.mat-form-field {
    width: 60%;
}

.custom-form-field .mat-error {
    font-size: 12px;
    width: 200px;
    line-height: 1.2;
    padding: 0;
}

.custom-form-field .mat-form-field-subscript-wrapper {
    width: 250px;
}