.section-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 2em;
}

.container {
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.kyc-details {
    margin-top: 2.6em;
}

.Yes,
.YES,
.yes,
.High,
.high,
.HIGH,
.Rejected,
.rejected,
.REJECTED {
    color: #E42323;
}


.no,
.No,
.NO,
.approved,
.Approved,
.APPROVED,
.ACCEPTED,
.Accepted,
.accepted,
.LOW,
.low,
.Low
{
  color: #0BC07F;
}

.medium,
.Medium,
.MEDIUM {
    color: #FFAC30;
}


.verification-container {
    display: flex;
    gap: 15px;
    align-items: center;
  }