.document-category-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: 0.17307710647583008px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #496684;
}